<div class="container">
  <h1><%= company.name %></h1>
  <p><%= company.description %></p>
  <div class="projects">
    Show projects here
  </div>
</div>
<style>
  body {
    background: #a5a7a1;
  }
  .container {
    padding-top: 100px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .projects {
    margin-top: 100px;
  }
</style>